.app {
  background: #0296f8;
  height: 100vh;
  padding: 30px;
}

.to-do-banner {
  display: flex;
  justify-content: space-around;
  margin: 0 40px;
}

.to-do-input {
  flex-grow: 1;
  padding: 5px;
}

.to-do-header {
  text-align: center;
}

.to-do-count {
  color: #fff;
}

.to-do-list {
  background: #dfd8d8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  margin: 0 auto;
}

.to-do {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}